.main_container {
  @apply container mx-auto mt-14;

  .main {
    @apply mb-10 flex flex-col;

    .info {
      @apply mb-52 flex h-fit flex-col pr-2;
      @apply sm:w-[60%];
      @apply lg:w-[45%];
      @apply 2xl:w-[50%];

      h2 {
        @apply mb-5 h-fit w-fit flex-nowrap justify-center text-3xl leading-10;
        @apply sm:h-fit sm:text-5xl sm:leading-10;

        span {
          @apply inline-block text-3xl;
          @apply sm:inline-block sm:text-5xl;
        }

        span:last-child {
          @apply translate-y-5;
        }

        .text_color {
          @apply text-3xl text-sec-bg-light;
          @apply sm:text-5xl;
        }

        svg {
          @apply m-1 inline-block h-14 w-12;
          @apply sm:h-16 sm:w-12;
        }

        .wrap_apple {
          background-color: #ffd0d0;
          border-radius: 40px;

          @apply mr-2 mt-5 inline-flex h-14 w-20 justify-center align-middle;
          @apply sm:h-16 sm:w-28;
        }

        .wrap_banana {
          background-color: #fec08c;
          border-radius: 40px;

          @apply mx-4 mt-5 inline-flex h-14 w-20 translate-y-5;
          @apply sm:h-16 sm:w-28;
        }
      }

      p {
        @apply mb-5 h-fit w-fit p-1;
      }

      .wrap_select {
        @apply mb-5 flex flex-col-reverse justify-between;
        @apply sm:flex-row sm:content-center sm:items-center sm:justify-between;

        button {
          @apply order-2 h-7 min-w-28 max-w-[10%];
          @apply sm:min-w-36;
        }
      }
    }

    .showcase {
      @apply hidden;
      @apply sm:flex sm:items-center;

      svg:nth-child(1) {
        @apply absolute;

        left: calc((70% + 170px));
        top: calc(25%);
        width: 600px;
        height: 600px;
      }

      svg:nth-child(2) {
        @apply absolute;

        left: calc((42% + 170px));
        top: calc(17%);
        width: 600px;
        height: 600px;
      }
    }
  }
}
